@using WendhelAton.FAQ.Web.Infrastructure.Data.Models;
@model WendhelAton.FAQ.Web.Areas.Manage.ViewModels.Threads.IndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section id="subintro" style="background-color:darkred">
    <div class="jumbotron subhead" id="overview">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="centered">
                        <h3>College of Subic Montessori,Inc.</h3>
                        <p>
                            Admin Threads Index
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<a href="~/manage/threads/create"><button type="button" class="btn btn-flat btn-primary">Create<i class="icon-1x icon-plus-sign"></i></button></a>

<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span12">

                <form class="form-search">
                    <input id="searchKeyword" placeholder="Type Something.." value="@Model.Threads.Keyword" type="text" class="input-medium search-query " />
                    <button type="submit" class="btn btn-flat btn-primary">Search</button>
                </form>
                @{
                    if (Model.Threads != null)
                    {
                        if (Model.Threads.Items.Count > 0)
                        {
                            foreach (Thread thread in Model.Threads.Items)
                            {
                                <!-- start article 1 -->
                                <article class="blog-post">
                                    <div class="post-heading">
                                        <h3><a href="#">Alumni Profile View</a></h3>
                                        <div class="row">
                                            <div class="span6">
                                                <div class="post-image">
                                                    <a href="#"><img src="~/threads/@thread.Id/thumbnail.png" style="height:450px; width:600px" alt="" /></a>
                                                </div>
                                            </div>
                                            <div class="span6">
                                                <h3>@thread.Title</h3>
                                                <div class="clearfix">
                                                </div>

                                                <dl>

                                                    <dt>Content</dt>
                                                    <dd> @thread.Content</dd>
                                                    <dt>Update At</dt>
                                                    <dd> @thread.UpdatedAt</dd>




                                                </dl>
                                                <div class="widget">
                                                    <h4></h4>
                                                    <ul class="social-links">
                                                        <li><a href="~/manage/threads/update-title/@thread.Id" title="Update Title"><i class="icon-rounded icon-32 icon-file"></i></a></li>
                                                        <li><a href="~/manage/threads/update-content/@thread.Id" title="Update Content"><i class="icon-rounded icon-32 icon-file-alt"></i></a></li>

                                                        <li><a href="~/manage/threads/update-thumbnail/@thread.Id" title="Update Thumbnail"><i class="icon-rounded icon-32 icon-picture"></i></a></li>
                                                        <li><a href="~/manage/threads/update-banner/@thread.Id" title="Update Banner"><i class="icon-rounded icon-32 icon-picture"></i></a></li>
                                                        @{
                                                            if (thread.IsPublished)
                                                            {
                                                                <li><a href="#" title="Unpublish" onclick="confirmUnpublish('@thread.Id','@thread.Title')"><i class="icon-rounded icon-32 icon-remove"></i></a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a href="#" title="Publish" onclick="confirmPublish('@thread.Id','@thread.Title')"><i class="icon-rounded icon-32 icon-check"></i></a></li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <!-- end article 1 -->
                            }

                            <div class="pagination">
                                <ul>
                                    <li class="page-item"><a class="page-link" href="~/manage/threads?pageIndex=1">First</a></li>
                                    @{ if (Model.Threads.PageIndex > 1)
                                        {
                                            <li class="page-item"><a class="page-link" href="~/manage/threads?pageIndex=@(Model.Threads.PageIndex - 1)">@(Model.Threads.PageIndex - 1)</a></li>
                                        }
                                    }
                                    <li class="page-item"><a class="page-link active" href="#">@(Model.Threads.PageIndex)</a></li>
                                    @{ if ((Model.Threads.PageIndex + 1) <= Model.Threads.PageCount)
                                        {
                                            <li class="page-item"><a class="page-link" href="~/manage/threads?pageIndex=@(Model.Threads.PageIndex + 1)">@(Model.Threads.PageIndex + 1)</a></li>
                                        }
                                    }
                                    <li class="page-item"><a class="page-link" href="~/manage/threads?pageIndex=@Model.Threads.PageCount">Last</a></li>
                                </ul>
                            </div>
                        }
                    }
                }

            </div>
            <div class="span4">

            </div>
        </div>
    </div>
</section>



<!--MODAL UNPUBLISH-->
<div class="modal hide fade" id="modal-unpublish">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Unpublish Alumni Post</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to unpublish <span id="modal-unpublish-title"></span>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="modal-unpublish-button">Yes</button>
        <button type="button" class="btn" data-dismiss="modal">No</button>
    </div>
</div>


<!--MODAL PUBLISH-->
<div class="modal hide fade " id="modal-publish">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Publish Alumni Post</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to publish <span id="modal-publish-title"></span>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" id="modal-publish-button">Yes</button>
        <button type="button" class="btn" data-dismiss="modal">No</button>
    </div>
</div>

@section pageStyles{
    <style>
        h2 {
            margin-top: 30px;
        }

        .card-container {
            margin-bottom: 30px;
        }

        .card {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>
}


@section pageScripts{
    <script>
        //////////////////////SEARCH/////////////////////////////////////////////////////////////////
        function searchTrigger() {
            window.location = "/manage/threads?pageIndex=1&keyword=" + $("#searchKeyword").val();

        }
        $("#searchKeyword").keyup(function (event) {
            if (event.keyCode === 13) {
                searchTrigger();
            }
        });
        ////////////////////UNPUBLISH/////////////////////////////////////////////////////////////////
        function confirmUnpublish(id, title) {
            $("#modal-unpublish-title").html(title);
            $("#modal-unpublish-button").attr("onclick", "UnpublishThread('" + id + "')");
            $("#modal-unpublish").modal("show");
        }
        function UnpublishThread(id) {
            $.ajax({
                type: "POST",
                url: "/manage/threads/unpublish",
                data: { id: id },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    var response = JSON.parse(xhr.responseText);
                    alert("Error Occured : " + response.errors[0]);
                    location.reload();
                }
            });
        }

        //////////////////PUBLISH///////////////////////////////////////////////////////////////////////
        function confirmPublish(id, title) {
            $("#modal-publish-title").html(title);
            $("#modal-publish-button").attr("onclick", "PublishThread('" + id + "')");
            $("#modal-publish").modal("show");
        }
        function PublishThread(id) {
            $.ajax({
                type: "POST",
                url: "/manage/threads/publish",
                data: { id: id },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    var response = JSON.parse(xhr.responseText);
                    alert("Error Occured : " + response.errors[0]);
                    location.reload();
                }
            });
        }
    </script>
}
